{% extends 'base.html' %}
{% load static %}
{% load user_filters %}

{% block meta_description %}Регистрация в Solo Pizza - создайте аккаунт для удобного заказа пиццы, отслеживания доставки и получения персональных скидок.{% endblock %}
{% block meta_keywords %}регистрация, создать аккаунт, личный кабинет, Solo Pizza регистрация{% endblock %}
{% block og_description %}Регистрация в Solo Pizza - создайте аккаунт для удобного заказа пиццы, отслеживания доставки и получения персональных скидок.{% endblock %}
{% block twitter_description %}Регистрация в Solo Pizza - создайте аккаунт для удобного заказа пиццы, отслеживания доставки и получения персональных скидок.{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/auth_register.css' %}">
{% endblock %}


{% block main %}
    <main>
        <div class="auth_container">
            <div class="auth_form_wrapper">
                <h1 class="auth_form_title">Регистрация</h1>
                <div class="register-link">
                    <p>Воспользуйтесь быстрой авторизацией с помощью социальных сетей:
                        <br>(регистрация не обязательна)</p>
                    <a href="{% url 'google_login' %}">Войти через Google</a><br><br>
                    <p>Либо зарегистрируйтесь на сайте:</p>
                </div>
                <form class="auth_form" action="{% url 'app_user:register' %}" method="post">
                    {% csrf_token %}

                    <!-- Общие ошибки -->
                    {% if form.non_field_errors %}
                        <div class="error">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    <!-- Поле "Имя пользователя" -->
                    <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
                    {{ form.username|add_class:"form-control" }}
                    {% if form.username.errors %}
                        <div class="error">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}

                    <!-- Поле "Пароль" -->
                    <label for="{{ form.password1.id_for_label }}">Пароль:</label>
                    {{ form.password1|add_class:"form-control" }}
                    {% if form.password1.errors %}
                        <div class="error">
                            {{ form.password1.errors }}
                        </div>
                    {% endif %}

                    <!-- Поле "Повторите пароль" -->
                    <label for="{{ form.password2.id_for_label }}">Повторите пароль:</label>
                    {{ form.password2|add_class:"form-control" }}
                    {% if form.password2.errors %}
                        <div class="error">
                            {{ form.password2.errors }}
                        </div>
                    {% endif %}

                    <!-- Кнопка отправки -->
                    <button class="register-button btn-primary" type="submit">Зарегистрироваться</button>
                </form>

                <!-- Ссылка на авторизацию -->
                <div class="register-link">
                    <p>Есть аккаунт?<a href="{% url 'app_user:login' %}"> Авторизоваться</a></p>
                </div>
            </div>
        </div>
    </main>


{% endblock %}