# Django и основные компоненты
Django>=4.2,<5.0
django-allauth>=0.57.0
cryptography
django-redis>=5.4.0

# Celery для асинхронных задач
celery>=5.3.0
django-celery-beat>=2.5.0
django-celery-results>=2.5.0
redis>=5.0.0


# Работа с изображениями
Pillow>=10.0.0

# Переменные окружения
python-dotenv>=1.0.0

# Веб-сервер для продакшена
gunicorn>=21.2.0

# Дополнительные утилиты
requests>=2.31.0

