{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пиица</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="burger-menu" id="burger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1>Solo Pizza</h1>
    </header>

    <nav class="sidebar" id="sidebar">
        <div class="close-btn" id="close-btn">×</div> <!-- Кнопка закрытия -->
        <ul>
            <li><a href="#">Главная</a></li>
            <li>
                <a href="#">Меню</a>
                <ul class="submenu">
                    <li><a href="#">Пицца</a></li>
                    <li><a href="#">Напитки</a></li>
                    <li><a href="#">Бургеры</a></li>
                </ul>
            </li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>

    <main>
        <div class="pizza-form">
            <h2>Собери свою пиццу</h2>

            <!-- Выбор размера -->
            <label for="size">Размер:</label>
            <select id="size" name="size">

            </select>

            <!-- Выбор борта -->
            <label for="crust">Борт:</label>
            <select id="crust" name="crust">

            </select>

            <!-- Выбор добавок -->
            <label>Добавки:</label>
            <div class="toppings">

            </div>

            <!-- Итоговая цена -->
            <div class="total-price">
                <h3>Итоговая цена: <span id="total-price">$12</span></h3>
            </div>

            <!-- Кнопка заказа -->
            <button id="order-button">Заказать</button>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/prices.js' %}"></script>
    <script src="{% static 'js/burger_menu.js' %}"></script>
</body>
</html>