{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="site-greetings">
            <div class="page_title">
                <h2>{{ category.name }}</h2>
            </div>
        </section>
        <section class="section_catalog">
            {% if items %}
                <div class="items-catalog">
                    <!-- Карточка товара -->
                    {% for item in items %}
                        <div class="item-card">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" alt="{{ item.name }}">
                            {% else %}
                                <img src="{% static 'img/test.jpg' %}" alt="{{ item.name }}">
                            {% endif %}
                            <h2>{{ item.name }}</h2>
                            <p>{{ item.description }}</p>
                            <div class="cart_price_section">
                                <div class="price">
                                    {% if item.min_price %}
                                        от {{ item.min_price|floatformat:2 }} руб.
                                    {% else %}
                                        Цена не указана
                                    {% endif %}
                                </div>
                                <a class="order-link" href="{% url 'app_catalog:item_detail' item.slug %}">Заказать</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="page_title">
                    <h3>Упс.. Мы еще ничего не приготовили..</h3>
                </div>
            {% endif %}

        </section>

    </main>
{% endblock %}




