{% extends 'base.html' %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/item_detail.css' %}">
{% endblock %}

{% block main %}
    <main>
        <section class="item">
            <div class="item_container">
                <div class="item-image">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="item-image-border">
                    {% else %}
                        <img src="{% static 'img/test.jpg' %}" alt="{{ item.name }}" class="item-image-border">
                    {% endif %}
                </div>

                <div class="item-info">
                    <h1>{{ item.name }}</h1>
                    <p class="item-description">{{ item.description }}</p>

                    <!-- Цена -->
                    <div class="item-price">
                        {% if min_price %}
                            <span>Цена: {{ min_price }} руб.</span>
                        {% else %}
                            <span>Цена не указана</span>
                        {% endif %}
                    </div>

                    <!-- Размеры -->
                    <div class="form-group size-selector">
                        <h3>Выберите размер:</h3>
                        <div class="size-options">
                            {% for size in sizes %}
                                <a href="?size={{ size.size.id }}"
                                   class="size-option {% if selected_size and selected_size.size.id == size.size.id %}selected{% endif %}">
                                    {% if size.size.name %}
                                        {{ size.size.name }}
                                    {% elif size.value %}
                                        {{ size.value }}
                                    {% endif %}
                                    {% if size.unit %}
                                        {{ size.get_unit_display }}
                                    {% endif %}
                                </a>
                            {% empty %}
                                <span>Размеры не доступны</span>
                            {% endfor %}
                        </div>
                    </div>

                    <form method="POST" action="{% url 'app_cart:add_to_cart' item.slug %}" class="add-to-cart-form">
                        {% csrf_token %}

                        <!-- Размер -->
                        <input type="hidden" name="size" value="{{ selected_size.id }}">

                        <!-- Количество -->
                        <div class="form-group">
                            <label for="quantity">Количество:</label>
                            <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                        </div>

                        <!-- Соус -->
                        {% if sauces %}
                        <div class="form-group option-selector">
                            <h3>Выберите соус (один вариант):</h3>
                            <ul class="custom-radio-list">
                                {% for sauce in sauces %}
                                <li>
                                    <label class="custom-radio">
                                        <input type="radio" name="sauce" value="{{ sauce.id }}" {% if forloop.first %}checked{% endif %}
                                            style="display: none;">
                                        <span class="radio-button"></span>
                                        {{ sauce.name }}
                                    </label>
                                </li>
                                {% empty %}
                                <li>Соусы не доступны</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <!-- Борты -->
                        {% if boards %}
                            <div class="form-group option-selector">
                                <h3>Выберите борт (один вариант):</h3>
                                <ul class="custom-radio-list">
                                    {% for board in boards %}
                                        <li>
                                            <label class="custom-radio">
                                                <input type="radio" name="board" value="{{ board.id }}"
                                                       style="display: none;">
                                                <span class="radio-button"></span>
                                                {{ board.board.name }} (+{{ board.price }} руб.)
                                            </label>
                                        </li>
                                    {% empty %}
                                        <li>Борты не доступны</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <!-- Добавки -->
                        {% if addons %}
                            <div class="form-group option-selector">
                                <h3>Добавки (можно выбрать несколько):</h3>
                                <ul class="custom-checkbox-list">
                                    {% for addon in addons %}
                                        <li>
                                            <label class="custom-checkbox">
                                                <input type="checkbox" name="addons" value="{{ addon.id }}"
                                                       style="display: none;">
                                                <span class="checkbox-icon"></span>
                                                {{ addon.addon.name }} (+{{ addon.price }} руб.)
                                            </label>
                                        </li>
                                    {% empty %}
                                        <li>Добавки не доступны</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <!-- Напитки для комбо -->
                        {% if drinks %}
                        <div class="form-group option-selector">
                            <h3>Выберите напиток (один вариант):</h3>
                            <ul class="custom-radio-list">
                                {% for drink in drinks %}
                                <li>
                                    <label class="custom-radio">
                                        <input type="radio" name="drink" value="{{ drink }}" {% if forloop.first %}checked{% endif %}
                                            style="display: none;">
                                        <span class="radio-button"></span>
                                        {{ drink }}
                                    </label>
                                </li>
                                {% empty %}
                                <li>Соусы не доступны</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <!-- Кнопка добавления в заказ -->
                        <button type="submit" class="order-link">Добавить в заказ</button>
                    </form>
                </div>
            </div>

        </section>
    </main>
{% endblock %}

