.form-control{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #079b59;
    font-size: 16px;
}

.form-control:focus {
    outline: none;
    border-color: #045e36;
    box-shadow: 0 0 5px rgb(4, 94, 54);
}

.register-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #045e36;
}

.register-button:active {
    background-color: #045e36;
}

.register-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.register-button:disabled:hover {
    background-color: #ccc;
}

.auth_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.auth_form_wrapper {
    width: 80%;
    padding: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.auth_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.auth_form_title {
    margin-bottom: 20px;
    color: var(--accent-color);
}

.register-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register-link p {
    margin-bottom: 10px;
    color: var(--text-color);
}

.register-link a {
    margin-right: 10px;
    text-decoration: none;
    color: var(--accent-color);

}