@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.items-catalog {
    margin-top: 20px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

@media (max-width: 992px) {
    .items-catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .items-catalog {
        grid-template-columns: 1fr;
    }
}

.item-card {
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.item-card img {
    display: block;
    margin: auto;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.item-card h2 {
    font-size: 20px;
    margin: 15px;
    color: var(--text-color);
    flex-grow: 1;
}

.item-card p {
    font-size: 16px;
    margin: 0 15px 10px;
    color: var(--text-color);
    flex-grow: 1;
}

.cart_price_section .price {
    font-size: 18px;
    color: var(--accent-color);
}

.discount-badge {
    background-color: #ef7700;
    color: white;
    padding: 3px;
    border-radius: var(--border-radius);
    font-size: 0.8rem;
    /* font-weight: 600; */
    text-align: center;
    width: 22%;

}

.cart_price_section .order-link {
    background-color: var(--accent-color);
    color: white;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.item-card .order-link:hover {
    background-color: #068a50;
}

.cart_price_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 10px 15px;
    background-color: var(--hover-bg);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.page_title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
}
