.page_title {
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 1rem;
    font-size: 2.5rem;
    width: 100%;
}

.categories_title {
    margin-bottom: 20px;
    font-size: 2.0rem;
}

.divider {
    height: 3px;
    background: linear-gradient(90deg, transparent, var(--accent-color), transparent);
    margin: 0 auto;
    width: 80%;
}

.page_text_container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.page_text {
    width: 80%;
    line-height: 1.6;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categories_container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

.categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .categories {
        grid-template-columns: 1fr;
    }
}

.category-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--text-color);
    min-height: 200px;
}

.category-card:hover {
    box-shadow: 0 8px 20px var(--accent-color-rgba);
}

.category-card__image {
    flex: 1;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.category-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    border-radius: 10px;
}

.category-card__image img:hover {
    transform: scale(1.1);
}

.category-card__name {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0;
}