.item_container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    padding: 20px;
    background-color: var(--card-bg); /* Цвет фона карточки */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 90%;
}

@media (max-width: 1024px) {
    .item_container {
        flex-direction: column;
        align-items: center;
    }
}

.item-image {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.item-image img,
.item-image-border {
    max-width: 100%;
    height: auto;
    border: 3px solid var(--accent-color); /* Акцентный цвет */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-image img:hover,
.item-image-border:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.item_name {
    font-size: 20px;
    margin: 15px;
    color: var(--text-color); /* Цвет текста */
    flex-grow: 1;
}

.item-info {
    flex: 1;
    text-align: center;
}

.item-info h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.item-info p {
    font-size: 16px;
    color: #888; /* Можно использовать оттенок текста из темы */
    margin-bottom: 20px;
}

.item-price {
    font-size: 22px;
    color: var(--accent-color); /* Акцентный цвет */
    margin-bottom: 20px;
}

.order-link {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.order-link:hover {
    background-color: #068a50; /* Темнее акцента */
}

@media (max-width: 768px) {
    .item-detail {
        padding: 10px;
    }

    .item-image {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .item-info h1 {
        font-size: 24px;
    }

    .item-info p {
        font-size: 14px;
    }

    .item-price {
        font-size: 20px;
    }

    .order-link {
        padding: 10px 20px;
        font-size: 16px;
    }
}

.size-selector .size-options {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.size-selector .size-option {
    padding: 10px 20px;
    border: 1px solid var(--hover-bg); /* Цвет границы */
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.size-selector .size-option:hover {
    background-color: var(--hover-bg);
}

.size-selector .size-option.selected {
    background-color: var(--accent-color);
    color: white;
    border-color: var(--accent-color);
}

.form-group h3 {
    margin-bottom: 5px;
    color: var(--text-color);
}

.form-group ul {
    list-style: none;
    padding: 0;
}

.form-group li {
    margin-bottom: 5px;
    color: var(--text-color);
}

.option-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.custom-radio-list,
.custom-checkbox-list {
    list-style: none;
    padding: 0;
}

.custom-radio,
.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.radio-button,
.checkbox-icon {
    width: 20px;
    height: 20px;
    border: 2px solid var(--hover-bg);
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s ease;
}

.custom-radio input[type="radio"]:checked + .radio-button,
.custom-checkbox input[type="checkbox"]:checked + .checkbox-icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.custom-radio input[type="radio"]:checked + .radio-button::after,
.custom-checkbox input[type="checkbox"]:checked + .checkbox-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

input[type="number"] {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--hover-bg);
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--card-bg);
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: var(--accent-color);
}