/* Стили для страницы чека */
@media print {
    .no-print {
        display: none !important;
    }
}


.header {
    text-align: center;
    margin-bottom: 3mm;
    font-weight: 800; /* Увеличена толщина шрифта заголовка */
    font-size: 20px; /* Увеличен размер шрифта заголовка */
}

/* .order-details {
    margin-bottom: 3mm;
} */

.order-details div {
    line-height: 1.0; /* Увеличен интервал между строками */
}

.items-container {
    width: 100%;
    margin-bottom: 3mm;
}

.items-header {
    background-color: #f9f9f9;
    padding: 1mm;
    margin-bottom: 2mm;
    border-bottom: 1px dotted #aaa;
}

.items-header h3 {
    margin: 0;
    font-weight: 800;
    font-size: 22px;
}

.items-list {
    width: 100%;
    border-top: 4px dotted #aaa;
}

.item-block {
    border-bottom: 4px dotted #aaa;
}

.item-param {
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
}

.item-param strong {
    font-weight: 600; /* Жирный шрифт для названий параметров */
}

.totals {
    text-align: right;
    font-weight: 800; /* Экстра-жирный шрифт */
    margin-top: 2mm;
    font-size: 18px; /* Увеличен размер шрифта итогов */
}

.footer {
    text-align: center;
    margin-top: 5mm;
    font-style: italic;
    font-size: 16px; /* Увеличен в 2 раза с 8px */
}

.btn-print {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.btn-print:hover {
    background-color: #0056b3;
}

.discount-info {
    font-size: 14px; /* Увеличен в 2 раза с 7px */
    text-align: right;
    font-style: italic;
}


.underlined_text {
    text-decoration: underline;
}
