[Unit]
Description=Celery Worker Service
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/home/x93/x-code/SoloPizza
Environment="PATH=/home/x93/x-code/SoloPizza/venv/bin"
ExecStart=/home/x93/x-code/SoloPizza/venv/bin/celery -A SoloPizza worker -l info
Restart=on-failure
RestartSec=5
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target