<footer>
    <div class="footer-columns">
        <div class="footer-column">
            <h3>Наше меню</h3>
            <ul>
                {% for category in categories %}
                <li>
                    <a href="{% url 'app_catalog:category_detail' category.slug %}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer-column">
            
            <h3>Компания</h3>
            <ul>
                <li>
                    <a href="#">О нас</a>
                </li>
                <li>
                    <a href="{% url 'app_home:contacts' %}">Контакты</a>
                </li>
                <li>
                    <a href="{% url 'app_home:vacancy_list' %}">Вакансии</a>
                </li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Помощь</h3>
            <ul>
                <li>
                    <a href="{% url 'app_home:feedback' %}">Вопросы и предложения</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="company-info">
        <p>&copy; 2025 Solo Pizza. Все права защищены.</p>
    </div>
</footer>
