<header>
  <!-- Burger -->
  <div class="burger" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!-- Right controls -->
  <label class="theme-toggle-switch">
    <input type="checkbox" id="themeToggle" />
    <span class="toggle-slider"></span>
    <span class="icon sun">☀️</span>
    <span class="icon moon">🌙</span>
  </label>
  <div class="right">
    <select class="branch-select">
      <option>Ленина</option>
      <option>Тексер</option>
    </select>
    <div class="cart-wrapper">
      <a href="{% url 'app_cart:view_cart' %}">
        <div class="cart-icon">
          <i class="fas fa-shopping-cart"></i>
          <div class="cart-count">{{ cart_total_quantity }}</div>
        </div>
      </a>
    </div>
  </div>
</header>
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <a href="{% url 'app_home:home' %}">Главная</a>
  <a href="{% url 'app_home:home' %}">Акции</a>
  
  <div class="has-submenu">
    <button onclick="toggleSubmenu('catalogSub')">О нас ▾</button>
    <div class="submenu" id="catalogSub">
        <a href="#">Информация</a>
        <a href="{% url 'app_reviews:review_list' %}">Отзывы</a>
        <a href="{% url 'app_reviews:moderation_list' %}">Модерация</a>
    </div>
  </div>

  
  
  <div class="has-submenu">
    <button onclick="toggleSubmenu('catalogSub')">Каталог ▾</button>
    <div class="submenu" id="catalogSub">
      {% for category in categories %}
        <a href="{% url 'app_catalog:category_detail' category.slug %}">{{ category.name }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="has-submenu">
    <button onclick="toggleSubmenu('profileSub')">Профиль ▾</button>
    <div class="submenu" id="profileSub">
      {% if user.is_authenticated %}
        {% if user.is_superuser %}
          <a href="{% url 'admin:index' %}">Админ-панель</a>
        {% endif %}
        <a href="{% url 'socialaccount_connections' %}">Управление социальными аккаунтами</a>
        <a href="{% url 'app_cart:view_cart' %}">Корзина</a>
        <a href="{% url 'app_order:order_list' %}">Заказы</a>
        <a href="{% url 'app_user:logout' %}">Выход</a>
      {% else %}
        <a href="{% url 'app_user:login' %}">Вход</a>
      {% endif %}
    </div>
  </div>
</div>
<!-- Overlay -->
<div class="overlay" id="overlay" onclick="toggleSidebar()"></div>
