<nav class="sidebar" id="sidebar">
    <ul class="left-menu">
        <li><a href="{% url 'app_home:home' %}">Главная</a></li>
        <li>
            <a href="#">Меню</a>
            <ul class="submenu">
                {% for category in categories %}
                    <li><a href="{% url 'app_catalog:category_detail' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>

    <ul class="right-menu">
        <li>
            <a href="#">Профиль</a>
            <ul class="submenu">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'app_user:login' %}">Вход</a></li>
                    <li><a href="{% url 'app_user:register' %}">Регистрация</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    	<li><a href="{% url 'admin:index' %}">Админ-панель</a></li>
                    {% endif %}
                    <li><a href="{% url 'app_cart:view_cart' %}">Корзина</a></li>
                    <li><a href="{% url 'app_order:order_list' %}">Заказы</a></li>
                    <li><a href="{% url 'app_user:logout' %}">Выход</a></li>
                {% endif %}

            </ul>
        </li>
    </ul>
</nav>
<div class="sidebar-overlay"></div>
