{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Доставка пиццы в Барановичах - Solo Pizza" %}{% endblock %}

{% block meta_description %}{% trans "Узнайте о доставке пиццы и других блюд Solo Pizza по Барановичам. Стоимость доставки 3 руб., при заказе от 20 руб. - доставка бесплатно!" %}{% endblock %}
{% block meta_keywords %}{% trans "доставка пиццы барановичи, доставка еды барановичи, стоимость доставки, бесплатная доставка пиццы, доставка по городу, Solo Pizza" %}{% endblock %}
{% block og_description %}{% trans "Узнайте о доставке пиццы и других блюд Solo Pizza по Барановичам. Стоимость доставки 3 руб., при заказе от 20 руб. - доставка бесплатно!" %}{% endblock %}
{% block twitter_description %}{% trans "Узнайте о доставке пиццы и других блюд Solo Pizza по Барановичам. Стоимость доставки 3 руб., при заказе от 20 руб. - доставка бесплатно!" %}{% endblock %}

{% block body_class %}s-promo{% endblock %}

{% block main %}
<main>
    <section class="promo-section">
        <div class="container">
            {% include "app_home/_promo_header.html" %}

            <div class="promo-description">
                <p>{% trans "Мы осуществляем доставку пиццы и других блюд по всему городу Барановичи." %}</p>
            </div>

            <div class="text-content">
                <div class="delivery-info">
                    <h2 class="text-title">{% trans "Стоимость доставки" %}</h2>
                    <ul>
                        <li>{% blocktrans %}Доставка по городу - <strong>3 руб.</strong>{% endblocktrans %}</li>
                        <li>{% blocktrans %}При стоимости заказа <strong>более 20 руб.</strong> - доставка <strong>бесплатная</strong>!{% endblocktrans %}</li>
                        <li>{% blocktrans %}При стоимости заказа <strong>менее 25 руб.</strong> если в заказе блюда из категории "Фастфуд", "Бургеры", "Сковородки", "Напитки", "Соусы"- доставка <strong>платная</strong>!{% endblocktrans %}</li>
                    </ul>

                    <h2 class="text-title">{% trans "Адреса заведений" %}</h2>
                    <ul>
                        {% for branch in branches %}
                        <li>{{ branch.address }}</li>
                        {% endfor %}
                    </ul>

                    <h2 class="text-title">{% trans "Время доставки" %}</h2>
                    <p>{% trans "Уточняйте у операторов." %}</p>
                </div>

                <div class="action-buttons">
                    <a href="{% url 'app_home:home' %}" class="btn btn-primary">{% trans "Заказать пиццу" %}</a>
                    <a href="{% url 'app_home:contacts' %}" class="btn btn-outline">{% trans "Наши контакты" %}</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
