{% extends 'base.html' %}
{% load static %}
{% load tag_split %}

{% block title %}{{ title }}{% endblock %}

{% block meta_description %}Вакансии в Solo Pizza - присоединяйтесь к нашей команде! Мы ищем классных людей, которые любят пиццу, еду и хорошую атмосферу.{% endblock %}
{% block meta_keywords %}вакансии, работа в пиццерии, карьера в Solo Pizza, работа в ресторане, трудоустройство{% endblock %}
{% block og_description %}Вакансии в Solo Pizza - присоединяйтесь к нашей команде! Мы ищем классных людей, которые любят пиццу, еду и хорошую атмосферу.{% endblock %}
{% block twitter_description %}Вакансии в Solo Pizza - присоединяйтесь к нашей команде! Мы ищем классных людей, которые любят пиццу, еду и хорошую атмосферу.{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/vacancies.css' %}">
{% endblock %}

{% block main %}
    <main>
        <div class="main-wrapper">
            {% if breadcrumbs %}
            <div class="breadcrumbs">
                {% for crumb in breadcrumbs %}
                    {% if not forloop.last %}
                        <a href="{{ crumb.url }}">{{ crumb.title }}</a> <span class="breadcrumb-separator">></span>
                    {% else %}
                        <span class="breadcrumb-current">{{ crumb.title }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% include "app_home/includes/vacancy.html" %}
        </div>
    </main>
{% endblock %}