{% extends 'base.html' %}
{% load static %}
{% load tag_split %}

{% block title %}{{ title }}{% endblock %}

{% block meta_description %}Вакансии в Solo Pizza - присоединяйтесь к нашей команде! Мы ищем классных людей, которые любят пиццу, еду и хорошую атмосферу.{% endblock %}
{% block meta_keywords %}вакансии, работа в пиццерии, карьера в Solo Pizza, работа в ресторане, трудоустройство{% endblock %}
{% block og_description %}Вакансии в Solo Pizza - присоединяйтесь к нашей команде! Мы ищем классных людей, которые любят пиццу, еду и хорошую атмосферу.{% endblock %}
{% block twitter_description %}Вакансии в Solo Pizza - присоединяйтесь к нашей команде! Мы ищем классных людей, которые любят пиццу, еду и хорошую атмосферу.{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/promo_page.css' %}">
{% endblock %}

{% block main %}
<main>
    <section class="promo-section">
        <div class="container">
            <div class="breadcrumbs">
                    {% for crumb in breadcrumbs %}
                        {% if crumb.url != "#" %}
                            <a href="{{ crumb.url }}" class="breadcrumb-link">{{ crumb.title }}</a>
                        {% else %}
                            <span class="current-page">{{ crumb.title }}</span>
                        {% endif %}
                        {% if not forloop.last %}<span class="breadcrumb-separator">></span>{% endif %}
                    {% endfor %}
                </div>

            <div class="text-content">
                {% include "app_home/includes/vacancy.html" %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
